<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{normal/baseUser::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        
            <div class="container-fluid mt-1">
              <div class="head-box">
                <div class="container-box">
                  <div class="item-box">
                    <h2>All Contacts</h2>
                  </div>
                  <div class="item-box" style="display: flex;">
                    <div class=" item-box1"><input class="form-control" onkeyup="search()" id="search-input" type="search" placeholder="search your contact"></div>
                    <!-- <div class="item-box2"><button class="btn bg-primary text-white">Search</button></div> -->
                    <div class="search-result" id="search-result">

                    </div>
                  </div>
                </div>
              </div>
                <div class="table-responsive card">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Options</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="c : ${contacts}">
                            <th scope="row" th:text="'SCM'+${c.contactId}">1</th>
                            <td>
                              <img class="my_profile_picture" src=""  th:src="@{'/img/'+${c.image}}" onerror="this.onerror=null; this.src='/img/contact.png';" alt="profile photo">
                            <span th:text="${c.name}"></span>
                            </td>
                            <td th:text="${c.phone}">Otto</td>
                            <td th:text="${c.email}">@mdo</td>
                            <td>
                              <span>
                                <form   style="display: inline;" action="" th:action="@{'/user/show-details/' + ${c.contactId}}">
                                  <button type="submit" class="btn bg-primary text-white"><i class="fa-regular fa-eye"></i></button>
                                </form>
                              </span>
                              <span>
                                
                            <button class="btn btn-danger" th:onclick="|onDelete(${c.contactId})|"><i class="fa-solid fa-trash"></i></button>
                              </span>  
                            </td>
                          </tr>
                        </tbody>
                      </table> 
                </div>

                
            </div>
            <div class="footer container-fluid mt-1">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li th:classappend="${currentPage-1 == -1}?'disabled':''" class="page-item">
                    <a class="page-link" th:href="@{'/user/getUserContacts/'+${currentPage-1}}" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li th:classappend="${currentPage==i-1} ? 'active':''" th:each="i :${#numbers.sequence(1,totalPage)}" class="page-item"><a class="page-link" th:href="@{'/user/getUserContacts/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
                  <li th:classappend="${currentPage+1==totalPage}?'disabled':''" class="page-item">
                    <a class="page-link" th:href="@{'/user/getUserContacts/'+${currentPage+1}}" href="#"  aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <script>
              $(document).ready(()=>{
                $(".item1").removeClass("active");
                $("#view-contacts").addClass("active");
              })
            </script>
    </section>
    
</body>
</html>