<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{normal/baseUser::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class=" container-fluid">
            <div class="card">
                <div>  
                        <h2 class="text-center">Edit Profile</h2>
                        <!-- <h2 class="text-center" th:text="${titleSignup}"></h2> -->
                        
                        <form novalidate action="" th:action="@{/user/updateData}"  method="post" enctype="multipart/form-data"  th:object="${user}">
                              <!--  name field -->

                            <div class="form-group">
                                <label for="user_name" class="form-label">Your Name</label>
                                <input type="text" 
                                name="name"
                                class="form-control" 
                                
                                th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                                id="user_name" 
                                aria-describedby="userName-help"
                                placeholder="Enter your name"
                                th:value="${user.name}"
                                required>
                                <div class="invalid-feedback" th:each="e :${#fields.errors('name')}" th:text="${e}">
                                
                                </div>

                               
                              </div>

                              <!-- email field -->

                              <div class="form-group">
                                <label for="email_field" class="form-label">Your Email</label>
                                <input type="email" 
                                name="email"
                                class="disabled form-control" 
                                th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                                id="email_field" 
                                aria-describedby="userEmail-help"
                                placeholder="Enter your email"
                                th:value="${user.email}"
                                required
                                disabled>
                                <input type="hidden" name="email" th:value="${user.email}">

                                <div class="invalid-feedback" th:each="e: ${#fields.errors('email')}" th:text="${e}">

                                </div>
                               
                              </div>
                              
                              <!-- about -->
                              <!-- look into the value part -->
                              <div class="form-group">
                                <label for="email_field" class="form-label">About</label>
                                <textarea  rows="3" 
                                name="about"
                                class="form-control"
                                th:text="${user.about}"
                                ></textarea>

                              
                              <!-- image submission -->
                              <div>
                                <div class="form-group imageFile mt-3">
                                  <input type="file" th:text="${user.imageUrl}" id="image-upload" name="userDispPic" placeholder="Upload Image">   
                              </div>
                              <input type="hidden" th:value="${user.imageUrl}" name="previousImage" />
                              <!-- Id-->
                              <input  type="hidden" th:value="${user.id}" name="id">

                             
                              <!-- buttons -->
                             <div class="container text-center">
                                <button class="btn bg-primary btn-large text-white "  type="submit">Submit</button>
                                <!-- <button class="btn btn-warning btn-large" type="reset">Reset</button> -->
                             </div>

                        
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>