body{
    background-color: rgb(220, 224, 224);
   
}
.bg-primary{
     background-color:#303d4c!important;
}

.bg-pribtn{
    background-color:#1c2a3a!important;
}

.banner{
    background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0.8)),url("../img/bannerImage.jpg");
    background-size: cover;
    width: 100%;
    height: 93vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


/* .content{
    padding: 20px;
    background-color: #ffffff;
    width: 50%;
    display: flex;
    
} */
.user{
    padding: 10px;
    background-color: #ffffff;
    /* background-color: white; */
}

.form-group{
    margin: 10px;
}