<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{base::Layout(~{::section})} "  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>

    <section style="padding: 10px;">
      <p>session object</p>
      <div th:if="${session.message}" th:classappend="${session.message.msgType}" class="alert" role="alert">
        <p th:text="${session.message.content}"></p>
      </div>
      
    </section>
    
</body>
</html>