@tailwind base;
@tailwind components;
@tailwind utilities;



/* Prevent #root from scrolling if body overflows slightly */

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
}




/* Prevent body scrollbars */
/*  
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
*/
  